---
layout: default
---

<div id="top">
    <div id="content">
        <img src="{{site.baseurl}}/images/{{ page.image }}" onerror="standby(this)" />
        <h2>{{ page.title }}</h2>
        <div class="list-item-tags">
            <div class="list-item-tag duration" style="margin-right: 18px;">
                <i class="far fa-clock"></i>
                <span>{{ page.duration }}</span>
            </div>
            <div class="list-item-tag difficulty">
                <i class="fas fa-cog"></i>
                <span>{{ page.difficulty }}</span>
            </div>
        </div>
        <div id="description">
            {{ page.description }}
        </div>

        <h3>Ingredients</h3>
        <ul id="ingredients">
            {% for ingredient in page.ingredients %}
                <li>
                    <input type="checkbox">
                    <span>{{ ingredient }}</span>
                </li>
            {% endfor %}
        </ul>

        <h3>Instructions</h3>
        <ol id="instructions">
            {% for direction in page.directions %}
                <li>
                    <span>{{ direction }}</span>
                </li>
            {% endfor %}
        </ol>
    </div>
    <button onclick="edit()">Edit</button>
</div>
<div id="bottom">
    <div class="bottom-icon">
        <i class="fas fa-book-open"></i>
    </div>
    <div class="bottom-icon">
        <i class="fas fa-search"></i>
    </div>
    <div class="bottom-icon">
        <i class="fas fa-plus"></i>
    </div>
</div>

<script>
    function standby(img) {
        img.src = 'https://webstockreview.net/images/icon-png-images-6.png'
    }

    function edit() {
         var json = JSON.stringify({
            title: "{{ page.title }}",
            path: "{{ page.path }}",
            image: "{{ page.image }}",
            description: "{{ page.description }}",
            duration: "{{ page.duration }}",
            difficulty: "{{ page.difficulty }}",
            ingredients: JSON.parse(`{{ page.ingredients | jsonify }}`),
            directions: JSON.parse(`{{ page.directions | jsonify }}`)
        });
     
        localStorage.setItem("recipe", json);
        window.location.href = "/edit.html";
    }
</script>